

body {
    color: #976ecc;
    background-color: white;
    font-family: Nunito, sans-serif;
}


.wrapper {
    width: 1024px;
    background-color: rgb(248, 241, 241);
    margin: 0 auto;
    border-radius: 20px;
}


header .brand {
    font-family: 'Pacifico',Georgia;
    color: #9d9fec;
    font-size: 170%;
    padding: 40px;
}


header .brand span {
    font-family: 'Open Sans',sans-serif;
    font-size: 40%;
    padding: 20px;
}

.hero{
    height: 400px;
    background: #d4bcf0 url('img/music.jpg') center no-repeat;
}

aside .section{
    background-color: aliceblue;
    padding: 30px;
    box-sizing: border-box;
}

aside .section{
    background-color: rgb(83, 158, 224);
    padding: 20px;
    color: #feffff;
    margin-top: 0;
}

a{
    color: #72539b
}

a:hover{
    color: rgba(0, 132, 255, 0.836)
}


aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


aside a{
    padding: 10px 0;
    display: block;
}
    



article h2{
    margin-bottom: 0;
    font-size: 170%;
    color: #291444;
    padding: 0;
}

article p{
    margin-bottom: 10px;
    font-size: 100%;
    color: #291444;
    padding: 0;
}

article {
    margin-bottom: 60px;
    margin-top: 60px;
}